
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
            font-size: 20px;
        }
        .form-input-border {
            border: 0;
            border-bottom: 1px solid #1a1c1c;
            background-color: transparent !important;
            padding-left: 0;
            padding-right: 0;
        }
        .form-input-border:focus {
            outline: none;
            box-shadow: none;
            border-color: #000000;
        }
